@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Playfair+Display&display=swap');

$header-font: 'Inria Serif', serif;
$regular-font: 'Playfair Display', serif;

html {
  h1, h2 {
    font-family: $header-font;
    font-size: 25px;
  }

  a, p {
    font-family: $regular-font;
    font-size: 18px;
  }
}
